# binaries
*.exe
*.out

# go build cache
/bin/
/dist/

# editor
.vscode/
.idea/

# OS
.DS_Store

# ----------------------------
# Examples 
# ----------------------------

Examples/**

# Simple
!Examples/
!Examples/Simple/
!Examples/Simple/**

Examples/Simple/results/
Examples/Simple/results/**


# GoBench
!Examples/GoBench/
!Examples/GoBench/goker/
!Examples/GoBench/goker/blocking/
!Examples/GoBench/goker/blocking/comparisons/
!Examples/GoBench/goker/blocking/comparisons/**

# Projects
!Examples/Projects/
!Examples/Projects/comparisons/
!Examples/Projects/comparisons/**